*{
	margin:0;
	padding:0;
}

#name{
	padding-top:5%;
	padding-bottom:3%;
	text-align: center;
}


#details p{
	padding-top:5px;
	font-size:12pt;
}

.main_container{
	margin-left:5%;
	margin-right:5%;
	border:10px solid #ff8c00;
	padding-bottom:2%;
	margin-bottom:2px;
	box-shadow:
		-2px -2px 0 #282828,
		2px -2px 0 #282828,
		-2px 2px 0 #282828,
		2px 2px 0 #282828;
}

.resume{
	margin-left:15%;
	margin-right:15%;
	background-color:white;
}

.section{
	text-align:left;
	border-style: solid;
	border-color: #ff8c00;
	border-width: 0px 0px 0px 1px;
	margin-top:2%;
	margin-bottom:2%;
	padding-left:2%;
}

.subsection{
	margin-bottom:2%;
}

p{
	font-size:15pt;
}