*{
    margin:0;
    padding:0;
}

html{
    height:100%;
    width: 100%;
}

body{

    min-height: 100%;
    position: relative;

    background: #000000; /* Old Browsers */
    background: -webkit-linear-gradient(bottom left,#000000,#737373); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom left,#000000,#737373); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom left,#000000,#737373); /*Fx 3.6-15*/
    background: linear-gradient(bottom left, #000000, #737373); /*Standard*/

    background-attachment: fixed;
    background-size:cover;

    font-size:large;
    font-family: 'Merriweather', serif;
}

header{
    top:0;
    width:100%;
    color:floralwhite;
    margin-bottom:1%;
    margin-top:1%;
}

footer{
    background-color:black;
    color:floralwhite;
    position:absolute;
    bottom:0;
    width:100%;
    font-size:large;
}


#logo{
    width:75px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#company_name{
    text-align:center;
    font-size:x-large;
    font-family: 'Trochut', cursive;
}

.footer_add{
    padding-left:2%;
}

#time,#date{
    text-align:right;
    float:right;
    padding-right:2%;
}

.main_image{
    background-image:url("background.jpg");
    background-attachment:scroll;
    background-size:cover;
    background-repeat:no-repeat;
    height:450px;
}

#rent_now{
    font-size:500%;
    font-weight:bold;
    text-decoration:none;
    color:floralwhite;
    text-shadow: 2px 2px 2px black;
    font-family: 'Righteous', cursive;
}

#rent_now:hover{
    color:darkslategray;
}

#rent_span{
    text-align:center;
    position:relative;
    top:50px;
}


#display_area{
    background-color:whitesmoke;
    padding-top:2%;
}

#main_table{
    position:relative;
    left:8vw;
}

#searchval{
    font-size:large;
}

#result_table{
    position:absolute;
    left:18vw;

}
#result_table tr:nth-child(even){
    background-color:lightblue;
}

#result_table tr:hover{
    background-color:gray;
}

#rental_form{
    position:relative;
    left:50vw;
    bottom:2vw;
    padding:5px;
    border:1px solid lightblue;
}

#rental_form td{
    padding-left:10px
}

#rental_form img{
    box-shadow:2px 2px 2px black;
    border:1px solid gray;
}

#car_image img{
    max-height:200px;
}

td{
    padding:3px;
}

td.row_space{
    min-height:50px;

}

#rental_form_submit{
    font-size:x-large;
}


